.order-summary-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .order-summary-list {
    list-style-type: none;
    padding: 0;
  }
  
  .order-summary-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .order-summary-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .order-summary-details {
    flex: 1;
  }
  
  .order-summary-details h3 {
    margin: 0 0 10px 0;
  }
  
  .order-summary-details p {
    margin: 5px 0;
  }
  
  .order-summary-total {
    margin-top: 20px;
    text-align: right;
  }
  
  .place-order-button {
    padding: 10px 20px;
    background-color: #DB7093;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .place-order-button:hover {
    background-color: #f47ba3;
  }
  