.product-detail {
    max-width: 800px;
    margin: 20px auto; 
    display: flex;
    align-items: flex-start; 
    gap: 30px; 
  }
  
  .product-detail img {
    width: 50%; 
    height: auto;
    object-fit: cover;
    border-radius: 8px; 
  }
  
  .product-detail-content {
    width: 50%;
  }
  
  .product-detail-content h2 {
    margin-bottom: 10px;
  }
  
  .product-detail-content p {
    margin-bottom: 20px;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .quantity-control button {
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #DB7093; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
  }
  
  .quantity-control button:hover {
    background-color: #f47ba3; 
  }
  
  .product-buttons {
    display: flex;
    gap: 10px; 
    margin-top: 20px; 
    justify-content: flex-start;
  }
  
  .product-buttons button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    background-color: #DB7093; 
    color: white; 
    text-decoration: none;
  }
  
  .product-buttons button:hover {
    background-color: #f47ba3;
  }
  