body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.category-management {
  margin: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.category-management h2 {
  text-align: center;
  color: #333;
}

.category-management input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.category-management button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #DB7093;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-management button:hover {
  background-color: #f47ba3;
}

.category-management ul {
  list-style-type: none;
  padding: 0;
}

.category-management ul li {
  background-color: white;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-management ul li button {
  padding: 5px 10px;
  background-color: #DB7093;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-management ul li button:hover {
  background-color: #f47ba3;
}
